<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>540690733438-cf11cnf07l9o7uejf20hhlk3ojsdp5sd.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.540690733438-cf11cnf07l9o7uejf20hhlk3ojsdp5sd</string>
    <key>API_KEY</key>
    <string>AIzaSyB0hxgeGnNUWNK0GBGgasW4qE-1c53GgxA</string>
    <key>GCM_SENDER_ID</key>
    <string>540690733438</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>dev.sanjaygangwar.mRoute</string>
    <key>PROJECT_ID</key>
    <string>mine-a0837</string>
    <key>STORAGE_BUCKET</key>
    <string>mine-a0837.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:540690733438:ios:1b2ff88e87719349a27b2f</string>
    <key>DATABASE_URL</key>
    <string>https://mine-a0837-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>
